@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

.link{
    font-family: 'Audiowide', cursive;
    text-align: center;
    font-size: 28px;
    color:white;
}

.link:hover{
    color:rgba(255,255,255,1);
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 6px;
}

.button{
    font-size: 19px;
    color:white;
    font-family: 'Audiowide', cursive;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    background-image: linear-gradient(#7E1399,#5A098E);
}

.button:hover{
    color:rgba(255,255,255,1);
    opacity: 0.9;
}