.card{
    box-shadow: inset -2px -2px 11px 0px rgba(0,0,0,0.01),inset 2px 0px 11px 0px rgba(0,0,0,0.01);
    border-radius: 10px;
    transition: all 0.7s cubic-bezier(.25,.8,.25,1) ;
}

.card:hover {
    box-shadow: inset -2px -2px 11px 0px rgba(0,0,0,0.1),inset 2px 0px 11px 0px rgba(0,0,0,0.1);
}

.innerimg{
    border-radius:7px 7px 0px 0px;
  border: gray;
    overflow: hidden;
}

.details{
font-size: 0.9rem;
}

.innerimg img{
transition: all 1s ease;
}

.innerimg:hover img{
    overflow: hidden;
transform: scale(1.2);
}

.favIconRed{
    color:red;
}
